<nav class="nav">
        <div class="nav_title"></div>
          <a class="sf-menu-toggle fa fa-bars" href="#"></a>
        <ul class="sf-menu">
            <li class="active">
                <a href="./">Lowx</a>
            </li>
            <li>
                <a href="presentation_template.php">Presentation</a>
                <ul>
                  <li>
                      <a href="#">Pierre</a>
                  </li>
                  <li>
                      <a href="#">Henri</a>
                  </li>
                </ul>
            </li>
            <li>
                <a href="patisserie_template.php">Patisserie</a>
                <ul>
                  <li>
                      <a href="#">Catégorie 1</a>
                  </li>
                  <li>
                      <a href="#">Catégorie 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="restaurant_template.php">Restaurant</a>
                <ul>
                  <li>
                      <a href="#">Entree</a>
                  </li>
                  <li>
                      <a href="#">Plat</a>
                  </li>
                  <li>
                      <a href="#">Boisson</a>
                  </li>
                  <li>
                      <a href="#">Dessert</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-1.php">Epicerie</a>
                <ul>
                  <li>
                      <a href="#">Gamme 1</a>
                  </li>
                  <li>
                      <a href="#">Gamme 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-1.php">Contacts</a>
                <ul>
                  <li>
                      <a href="#">Pierre</a>
                  </li>
                  <li>
                      <a href="#">Henri</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-1.php">Connexion</a>
                <ul>
                    <li>
                        <a href="#">Quisque nulla</a>
                    </li>
                    <li>
                        <a href="#">Vestibulum libero</a>
                        <ul>
                            <li>
                                <a href="#">Lorem</a>
                            </li>
                            <li>
                                <a href="#">Dolor</a>
                            </li>
                            <li>
                                <a href="#">Sit amet</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Vivamus eget nibh</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
