h3.prix_elt_crte {
    border: 2px solid red;
    border-radius: 25px;
    color : white;
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
